<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
				{% include nav_links.html %}
      </ul>
    </nav>
  </div>

  <div class="site-category">
    <ul class='cat1'>
      <li><a href="/about">About</a></li>

      <li><a href="/Algorithm"> Algorithm</a>   </li>

      <li><a href="/Study">Study</a>
        <ul>
            <li><a href="/DataStructure">Data Structure/Algorithm</a></li>
            <li><a href="/OS">Operating System</a></li>
        </ul>
      </li>

      <li><a href="/CyberSecurity">Cyber Security</a>
        <ul>
          <li><a href="/Cryptography">Cryptography</a></li>
          <li><a href="/DeepLearning">Deep Learning</a></li>
          <li><a href="/QuantumComputer">Quantum Computer</a></li>
        </ul>
      </li>

      <li><a href="/Project">Project</a>
        <ul>
          
        </ul>
      </li>

    </ul>
  </div>
</header>

